apiVersion: v1
kind: Service
metadata:
  name: kubelens
  namespace: monitoring
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
  selector:
    app.kubernetes.io/name: kubelens
