{{- if not .Values.config.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubelens.fullname" . }}-config
  labels:
    {{- include "kubelens.labels" . | nindent 4 }}
type: Opaque
stringData:
  config.yaml: |-
    server:
      address: ":8080"
      read_timeout_seconds: 10
      write_timeout_seconds: 30
      idle_timeout_seconds: 60

    auth:
      keycloak_url: "{{ .Values.config.auth.keycloakUrl }}"
      realm: "{{ .Values.config.auth.realm }}"
      client_id: "{{ .Values.config.auth.clientId }}"
      client_secret: "{{ .Values.config.auth.clientSecret }}"
      allowed_groups:
      {{- range .Values.config.auth.allowedGroups }}
        - "{{ . }}"
      {{- end }}
      allowed_secrets_groups:
      {{- range .Values.config.auth.allowedSecretsGroups }}
        - "{{ . }}"
      {{- end }}

    logs:
      default_tail_lines: {{ .Values.config.logs.defaultTailLines }}
      max_tail_lines: {{ .Values.config.logs.maxTailLines }}
      max_line_length: {{ .Values.config.logs.maxLineLength }}

    session:
      max_bytes: {{ .Values.config.session.maxBytes }}

    storage:
      database_url: "{{ .Values.config.storage.databaseUrl }}"

    cache:
      enabled: {{ .Values.config.cache.enabled }}
      redis_url: "{{ .Values.config.cache.redisUrl }}"

    kubernetes:
      cluster_name: "{{ .Values.config.kubernetes.clusterName }}"
      terminated_log_ttl: {{ .Values.config.kubernetes.terminatedLogTtl }}
      api:
        burst: {{ .Values.config.kubernetes.api.burst }}
        qps: {{ .Values.config.kubernetes.api.qps }}
      allowed_namespaces:
      {{- range .Values.config.kubernetes.allowedNamespaces }}
        - "{{ . }}"
      {{- end }}
      app_groups:
        enabled: {{ .Values.config.kubernetes.appGroups.enabled }}
        labels:
          selector: "{{ .Values.config.kubernetes.appGroups.labels.selector }}"
          name: "{{ .Values.config.kubernetes.appGroups.labels.name }}"
          environment: "{{ .Values.config.kubernetes.appGroups.labels.environment }}"
          version: "{{ .Values.config.kubernetes.appGroups.labels.version }}"
      pod_filters:
        include_regex: "{{ .Values.config.kubernetes.podFilters.includeRegex }}"
        exclude_labels:
        {{- if .Values.config.kubernetes.podFilters.excludeLabels }}
        {{- range .Values.config.kubernetes.podFilters.excludeLabels }}
          - "{{ . }}"
        {{- end }}
        {{- else }}
          []
        {{- end }}
      app_filters:
        include_regex: "{{ .Values.config.kubernetes.appFilters.includeRegex }}"
        exclude_labels:
        {{- if .Values.config.kubernetes.appFilters.excludeLabels }}
        {{- range .Values.config.kubernetes.appFilters.excludeLabels }}
          - "{{ . }}"
        {{- end }}
        {{- else }}
          []
        {{- end }}
      label_prefix: "{{ .Values.config.kubernetes.labelPrefix }}"
{{- end }}
